# Data files
*.csv
*.xlsx
*.json
data/raw/*

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Environment files
.env
venv/
env/

# Mac system files
.DS_Store

# IDE files
.vscode/
.idea/
